*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Kufam', cursive;
}

.maindiv{
	width: 100%;
	height: 100vh;
	position: relative;
	background: #242222;
}

.centerdiv{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

h1{
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 30px;
	color: #ecf0f1;
	text-shadow: 1px 2px 3px #2980b9;
	font-size: 2.1rem;
}

h2{
	text-align: center;
	color: white;
}

textarea{
	outline: none;
	background-color: #D9E1C9;
	text-shadow: 1px 2px 3px #2980b9;
	box-shadow: 7px 7px 12px #90D8BF;
	border-radius: 10px;
	color: black;
	padding: 8px;
}

.mainbtn{
	margin-top: 10px;
	padding: 10px 20px;
	border-radius: 20px;
	background: #ecf0f1;
	font-size: 1rem;
	border: none;
	outline: none;
	cursor: pointer;
}