
body{
    background-image: url(https://wallpaperaccess.com/full/1317087.jpg);
    
    
}

.navbar ul{
overflow: auto;

}
.navbar li {
    
    float: left;
    list-style: none;
    margin: 20px 20px;

}

.button{
    background-color: brown;
    border: none;
    color: black;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
}
.button:hover{
    background-color:rgb(87, 20, 20);
}
.main{
    text-align: center;
    color: antiquewhite;
    font-family: cursive;
    font-size: 50px;
    margin: 100px 100px 100px 100px;
}
.footer{
    background-color:rgb(226, 195, 153);
    opacity: 0.4;
    margin-top: 200px;
    text-align: center;
    border-style: outset;
    font-size: 30px;
    font-family: fantasy;
    color: black;
    text-shadow: brown;
    padding: 20px 20px 20px 20px;
}