*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    scroll-behavior: scroll;
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Akaya Kanadaka', cursive;*/
}
:root{
    --primary:indianred;
    --secondary:rgba(15,10,29,0.849);
    --light:#2f3640;

}
header{
    width:100%;
    height:100vh;

}

.nav1
{
    width:100%;
    height:80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    box-shadow: 2px 0px 3px grey;
    text-align: center;
}

.nav1 .left
{
    flex-basis:50%;
    letter-spacing:2px;

}
.nav1 .left a{
    text-decoration: none;
    color:var(--primary);
    font-weight: bold;
    margin:0px 5px;

}
.right
{
    flex-basis:50%;
}
.right i{
    font-size:20px;
    margin:0px 15px;
    background-color: var(--primary);
    color:white;
    padding:8px;
    cursor:pointer;
    transition:0.4s ease-in-out;
}

.nav1 .right i:hover{
    transform:rotate(360deg );
}

.nav2
{
    width:100%;
    height:120px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align:center;
    


}
.nav2 .nav2-left,.nav2 .nav2-center,.nav2 .nav2-right
{
    flex-basis:20%;
    margin:auto;
    cursor:pointer;
}

.nav2 .nav2-left i{
    margin-left: 15px;
}
.nav2 .nav2-center h1{
color:var(--primary);
font-size: 2rem;
letter-spacing: 5px;
font-weight:bold;

}
.nav2 .nav2-center h1 span{
    color:var(--secondary);

}
.nav2 .nav2-center p{
    color:grey;
    font-size:15px;
    margin-top: 5px;
}

.nav2 .nav2-right i{
    margin:0px 5px
}

.nav3
{
    width:100%;
    height: 70px;
    line-height: 70px;;
}
.nav3 ul
{
    list-style: none;
    text-align:center;

}
.nav3 ul li 
{
    display:inline-block;
    width:150px;
    position:relative;
    z-index:99;

}
.nav3 ul li a{
text-decoration: none;
color:black;
font-weight: 500;
display: block;

}
.nav3 ul li a:hover
{
    color:var(--primary);

}
.nav3 ul li i{
    color:var(--primary);
    margin :0px 5px;
}
.nav3 ul ul{
    position:absolute;
    top:70px;
    left:0;
    display: none;
}
.nav3 ul ul li{
    background-color: white;
    border-bottom:1px solid var(--primary);

}
.nav3 ul li:hover>ul{
    display:block;
}


.featured
{
    width: 100%;
    height:60vh;
    background:linear-gradient(to right,rgba(0,0,0,0.8) 20%,rgba(255,255,255,0.2)),
    url('images/g1.jpg') ;
    background-size: cover;
    background-position:top;
    position:relative;
}

.featured-text{
    max-width:500px;
    position:absolute;
    top:50%;
    left:10%;
    color: white;
    text-align:center;
    padding:10px;
    font-size:2rem;
    letter-spacing:5px;
}

.latest
{
    padding:50px 100px;

}
.product-intro
{
    text-align: center;
}

.product-intro h1
{
    color:var(--primary);
    letter-spacing: 0.2rem;
    font-size: 2rem;
    font-weight: bolder;
}

.product-intro h1 span{
    color:var(--secondary);
}

.product-intro p{
    color:grey;
    margin:15px 0;
}


.card-container
{
width:100%;
display:flex;
justify-content: space-between;
align-items: center;
cursor:pointer;
margin: 4rem 0;
}

.card-container .card{
    flex-basis:20%;
    padding:0.8rem;
}
.card img{
    width:100%;
    transition:0.5s ease-in-out ;
    
}
.card i{
    color: goldenrod;
    margin:10px 0
}
.card button{
    color:white;
    background-color:var(--secondary) ;
    border:none;
    outline:none;
    margin-top:15px;
    padding: 5px 20px;
}

.card:hover img,.card:hover h1{
    width:80%;
    color:var(--primary);

}

.card::before{
    content:'20% off';
    width: 25%;
    height:25px;
    line-height: 25px;
    color:white;
    position:absolute;
    top:0;
    left:0;
    background-color: var(--primary);
    padding:0px 4px;
    transform:rotate(-20deg);
}


.trends{
    padding: 50px 100px;
    background-color: rgba(0,0,0,0.01);
}
.trends .swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
      }

      .trends .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 400px;
        height: 400px;
      }

      .trends .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
      }


      footer{
          background-color: var(--secondary);
          color:white;
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-wrap:wrap;
          text-align:center;
          padding: 2rem;

      }

      footer div{
          flex-basis:30%
      }

      footer h1{
          letter-spacing: 0.5rem;
      }

      footer h1 span{
          color:var(--primary);

      }

      footer p{
          font-size:1rem;
      }
      footer i{
          margin:0px 5px;
      }

      #sidenav
      {
          display:none;
      }
      #menubar
      {
          display:none;
      }


      @media only screen and (max-width:769px)
      {



        #sidenav
        {
            display:block;

        }
        #menubar
        {
            display:block;

            position: absolute;
            top:50%;
            right: 0;
            transform: translate(0%,-50%);
            z-index:99;
            background-color: var(--primary);
            color: white;
            font-size: 2rem;
            padding: 20px 10px;
animation: animate 5s ease infinite;
        }
        @keyframes animate{
            0%
            {
                background-color: var(--secondary);
            }
            100%
            {
                background-color: var(--primary);
            }
        }
        #sidenav
{
    width:0px;
    height: 100vh;
    position:absolute;
    z-index: 3;
    top:0;
    left:0;
    background-color: var(--light);
    padding-top: 70px;
    display: block;
    overflow: hidden;
    transition: 0.5s ease-in-out;

}
#sidenav ul
{
    list-style: none;
  
    

}
#sidenav ul li 
{
    display:block;
    width:200px;
    position:relative;
    z-index:99;
    margin: 10px 20px;

}
#sidenav ul li a{
text-decoration: none;
color:white;
font-weight: 500;
display: block;
font-size: 20px;
padding: 10px 20px;

}
#sidenav ul li a:hover
{
    color:var(--primary);

}
#sidenav ul li i{
    color:white;
    margin :0px 5px;
}
#sidenav ul ul{
    position:absolute;
    top:70px;
    left:0;
    display: none;
}
#sidenav ul ul li{
 
    border-bottom:1px solid white;

}
#sidenav ul li:hover>ul{
    display:block;
}




         .nav1
{
   
    position: relative;
    z-index: 2;
    background-color: white;
}
.right i{
    font-size:15px;
    margin: 0px 5px;;
    
}
.nav2
{
    width:100%;
    height:80px;
    

}
.nav2 .nav2-left i{
    margin-left: 0px;
}
.nav2 .nav2-center h1{

font-size: 1.5rem;
letter-spacing: 2px;


}

.nav2 .nav2-center p{
    color:grey;
    font-size:10px;
    margin-top: 5px;
}

.nav2 .nav2-right i{
    margin:0px 5px
}
.nav3{
    display: none;
}
.featured
{
    background-attachment: fixed;


}


.latest
{
    padding:0px 50px;

}
.product-intro
{
    text-align: center;
}

.product-intro h1
{
    color:var(--primary);
    letter-spacing: 0.2rem;
    font-size: 2rem;
    font-weight: bolder;
}

.product-intro h1 span{
    color:var(--secondary);
}

.product-intro p{
    color:grey;
    margin:15px 0;
}


.card-container
{

margin: 2rem 0;
}

.card-container .card{
    flex-basis:100%;
    padding:0.8rem;
    position: relative;
    text-align: center;
}
.card img{
    width:100%;
    transition:0.5s ease-in-out ;
    
}
.card i{
    color: goldenrod;
    margin:10px 0
}
.card button{
    color:white;
    background-color:var(--secondary) ;
    border:none;
    outline:none;
    margin-top:15px;
    padding: 5px 20px;
}





      }


