@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.section{
    width: 100%;
    min-height: 150vh;
    background-color: #ddd;

}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.content-section{
    float: left;
    width: 55%;
}
.img-section{
    float: right;
    width: 40%;

}
.img-section img{
    width: 100%;
    height: auto;
    
}

.content-section .title{
    text-transform: uppercase;
    font-size: 28px;

}
.content-section .content h3{
    margin-top: 10px;
    color: #5d5d5d;
    font-size: 21px;
}
.content-section.content p{
    margin: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;

}

.content-section .content .button{
    margin-top: 30px;

}
.content-section .content .button a{
    background-color: #3d3d3d;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}

.content-section .content .button a:hover{

    background-color: #a52a2a;
    color: 40px;
}
