*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../campus-photo.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
h1{
    color: crimson;
    text-align: center;

}
p{
    text-align: center;
}
ul{
     float: right;
     list-style-type: none;
     margin-top: 25px;
}
ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;

}

.logo img{
   float: left;
   width: 150px;
   height: auto;

}

.main{
    max-width: 1200px;
    margin: auto;
}

ul li.active a{
    background-color: #fff;
    color: #000;
} 