body{
  margin: 0;
  padding: 1%;
  font-family: sans-serif;
  background: black;
  text-align: center;
}
.beyblade_poster{
  height:100px;
  width: auto;
}
.beyblade_poster:hover{
  opacity: 0.8;
}
h2,h4{
  color: white;
}
.a , .b ,.c{
display: inline-block;
}
.ginga{
  height: 220px;
  width: auto;
}





#container {
    height: 400px;
    width: 1000px;
    position: relative;
    overflow: hidden;
}

#container #mainBeyblade {
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 28px;
    left: 20px;
}

#container #mainBeyblade img {
    height: 70px;
    width: 70px;
}

.mainBeybladeActive {
    animation: animateBeybladeJump 0.5s linear infinite;
}

@keyframes animateBeybladeJump {

    0%,
    100% {
        bottom: 28px;
    }

    45%,
    55% {
        bottom: 160px;
    }
}

#container #block {
    height: 80px;
    width: 125px;
    position: absolute;
    bottom: 20px;
    right: -20px;
}

#container #block img {
    height: 80px;
    width: 125px;
}

.blockActive {
    animation: blockAnimate 1s linear infinite;
}

@keyframes blockAnimate {
    0% {
        right: -125px;
    }

    100% {
        right: 100%;
    }
}

#container #road {
    height: 30px;
    width: 1200px;
    position: absolute;
    bottom: 0;
}

#container #road img {
    height: 30px;
    width: 2000px;
    position: absolute;
    left: 0;
    animation: none;
}

@keyframes roadAnimate {
    0% {
        left: 0;
    }

    100% {
        left: -800px;
    }
}

#container #cloud {
    height: 80px;
    width: 1200px;
    border-radius: 40px;
    position: absolute;
    top: 30px;
}

#container #cloud img {
    height: 80px;
    width: 2000px;
    position: absolute;
    left: -2000px;
    animation: none;
}

@keyframes cloudAnimate {
    0% {
        left: -2000px;
    }

    100% {
        left: 100%;
    }
}

#score {
    height: auto;
    width: auto;
    position: absolute;
    top: 20px;
    right: 0;
    color: white;
}

#gameOver {
    display: none;
    font-size: 70px;
    position: absolute;
    left: calc(50% - 181px);
    top: calc(50% - 40px);
    width: 362px;
    height: 80px;
    color: white;
}
