@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	background: radial-gradient(ellipse at center, #175ca7, #50455c);
	height: 100vh;
}
ul {
	list-style: none;
	padding: 0;
}

.todo {
	overflow: hidden;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	padding: 20px;
}

.container {
	background: #fff;
	width: 100%;
	border-radius: 20px;
	padding-bottom: 40px;
}
.wrap {
	width: 80%;
	margin: auto;
}
/* header Start */
.todo__header {
	background-image: linear-gradient(
		to right bottom,
		rgba(121, 111, 231, 0.5),
		rgba(37, 99, 96, 0.8)
	);
	background-size: cover;
	padding: 50px;
	color: #fff;
	border-radius: 20px 20px 0 0;
}
.todo__header .overflow {
	overflow: hidden;
	transform: translateX(10px);
}
.todo__header .overflow h1 {
	margin: 0;
	animation: slideInDate 0.5s ease both;
}
.todo__header .overflow #todaysDate {
	transform: translateX(-96px);
	display: block;
	animation: slideInDate 0.4s 0.1s both;
}
@keyframes slideInDate {
	0% {
		transform: translateX(-249px);
	}
	100% {
		transform: translateX(0);
	}
}
/* header end */

/* todo__input */

.todo__input {
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 1px 10px #777;
	background: #fff;
	transform: translateY(-40%);
}

.todo__input input {
	width: 85%;
	padding: 10px;
	outline: none;
	display: inline-flex;
}

.todo__input input::placeholder {
	font-family: "Montserrat", sans-serif;
}

.todo__input .todo__btn {
	position: absolute;
	display: inline-block;
	border: none;
	padding: 12px;
	background-color: cadetblue;
	text-transform: uppercase;
	outline: none;
	cursor: pointer;
	color: #fff;
}

/* todo__input ends*/

/* todo__list */

.todo__list li {
	display: flex;
	align-items: center;
	background-color: #655e75;
	color: #fff;
	margin: 10px 0;
	border-radius: 5px;
	width: 100%;
	height: 40px;
	overflow: hidden;
}

.todo__list .text {
	margin: auto;
}

.todo__list .options {
	/* margin-left: 328px; */
	margin-right: -115px;
	transition: margin-right 0.3s ease;
}

.todo__list li:hover .options {
	margin-right: 0;
}

.todo__list .options span {
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	margin: -3px;
	background-color: #000;
	transition: background-color 0.3s;
}
.todo__list .options span:hover:nth-child(1) {
	background-color: aquamarine;
}
.completed {
	text-decoration: line-through;
	opacity: 0.5;
}
.todo__list .options span:hover:nth-child(2) {
	background-color: coral;
}
.todo__list .options span:hover:nth-child(3) {
	background-color: crimson;
}

.bounceIn {
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
	-webkit-animation-duration: 0.75s;
	animation-duration: 0.75s;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes bounceIn {
	0%,
	20%,
	40%,
	60%,
	80%,
	100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	}
	40% {
		-webkit-transform: scale3d(0.9, 0.9, 0.9);
		transform: scale3d(0.9, 0.9, 0.9);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}
	80% {
		-webkit-transform: scale3d(0.97, 0.97, 0.97);
		transform: scale3d(0.97, 0.97, 0.97);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes bounceIn {
	0%,
	20%,
	40%,
	60%,
	80%,
	100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	}
	40% {
		-webkit-transform: scale3d(0.9, 0.9, 0.9);
		transform: scale3d(0.9, 0.9, 0.9);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}
	80% {
		-webkit-transform: scale3d(0.97, 0.97, 0.97);
		transform: scale3d(0.97, 0.97, 0.97);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.bounceOutDown {
	-webkit-animation-name: bounceOutDown;
	animation-name: bounceOutDown;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes bounceOutDown {
	20% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0);
	}
	40%,
	45% {
		opacity: 1;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, 2000px, 0);
		transform: translate3d(0, 2000px, 0);
	}
}
@keyframes bounceOutDown {
	20% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0);
	}
	40%,
	45% {
		opacity: 1;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, 2000px, 0);
		transform: translate3d(0, 2000px, 0);
	}
}
