.container {
  text-align: center;
  color: blue;
}
#show {
  font-size: 60px;
}
.buttons {
  display: flex;
  justify-content: center;
}
button {
  margin: 8px;
  border: 2px solid blue;
  padding: 10px;
}
