.timerContainer{
    width: 30%;
    margin: auto;
    box-shadow: 1px 2px 133px -23px #647696;
    border-radius: 8px;
    padding: 40px;
    margin-top: 10%;
}
.container {
  text-align: center;
  color: #647696;
}
#show {
  font-size: 60px;
}
.buttons {
  display: flex;
  justify-content: center;
}
button {
  margin: 8px;
  border: 2px solid #647696;
  padding: 10px;
  border-radius: 5px;
}

