//Template index tugas django
{% extends 'toko/layouts/main.html' %}


{% block content  %}
{% if request.user.is_superuser %}
{% include 'toko/auth/admin_index.html' %}
{% include 'toko/auth/user_index.html' %}
{% else %}
    {% include 'toko/include/slider.html' %}
    
    
        

    <div class="container my-3">
        <div class="row">
            <div class="col-md-12">
                <h1>Trending Products</h1>
                <hr>
                <div class="row owl-carousel owl-theme">
                    {% for item in trending_products %}
                    <div class="product_data item shadow" >
                            <div class="card  ">
                                
                                    <div class="card-body" style="margin-bottom: 15px;">
                                        <a href="{% url 'productView' item.category.slug item.slug %}">
                                        <div class="category-image">
                                            {% if item.tag %}
                                    <label class="product-home-viewtag">{{ item.tag }}</label>
                                {% endif %}
                                {% if item.quantity <= 10 and item.quantity > 0 %}
                                    <label class="product-home-viewstock">Stok Terbatas</label>
                                {% elif item.quantity == 0 %}
                                    <label class="product-home-viewstock">Stok Habis</label>
                                {% endif %}
                                            <img src="{{ item.product_image.url }}" alt="Product Image" height="220" class="bw w-100" >
                                        </div>
                                        <hr>
                                        
                                        <h4 class="text-center">{{ item.name }}</h4>
                                    </a>
                                    {% if item.original_price == 0 %}
                                    <span class="float-start text-success">Rp. {{ item.selling_price | stringformat:'d' }}</span>
                                    {% else %}
                                        <span class="float-start text-danger">Rp. <s>{{ item.original_price | stringformat:'d' }} </s></span>
                                        <span class="float-end text-success">Rp. {{ item.selling_price | stringformat:'d' }}</span>
                                    {% endif %}
                                        
                                        <br>
                                        <div class="row mt-2">
                                            <div class="col-md-6">
                                                {% csrf_token %}
                                                <input type="hidden" class="prod_id" value="{{item.id}}">
                                                
                                                <div class="input-group text-center mb-3" style=" height:10px; width:100px;">
                                                    <button  class="input-group-text decrement-btn">-</button>
                                                    <input  type="text" class="form-control qty-input text-center" name="quantity" value="1" >
                                                    <button class="input-group-text increment-btn">+</button>
                                                </div>
                                            </div>
                                            <div class="col-md-6 px-0">
                                                <span class=" mb-2">
                                                    {% if item.quantity > 0 %}
                                                        <button type="button" style="margin-left:20px" class="btn btn-primary btn-sm me-3 addToCartBtn"><i class="fa fa-shopping-cart"></i> Tambahkan </button>
                                                        {% else %}
                                                        <button type="button" class="btn btn-danger me-3 btn-sm disabled" style="margin-left: 25%;">Stok habis</button>
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                
                            </div>
                    </div>
                {% endfor %}
            </div>
             <br>
            <div class="row">
                <h1>All Products</h1>
                <div class="col-md-12">
                    <h1> {{category.name}} </h1>
                    <hr>
                    <div class="row">
                    {% for item in all_products %}
                        <div class="col-md-3 my-3" >
                            
                            <div class="card shadow">
                                <a href="{% url 'productView' item.category.slug item.slug %}">
                                <div class="card-body" style="margin-bottom: 25px;">
                                    <div class="category-image" >
                                        {% if item.tag %}
                                            <label class="product-viewtag">{{ item.tag }}</label>
                                        {% endif %}
                                        {% if item.quantity <= 10 and item.quantity > 0 %}
                                            <label class="product-viewstock">Stok Terbatas</label>
                                        {% elif item.quantity == 0 %}
                                            <label class="product-viewstock">Stok Habis</label>
                                        {% endif %}
                                        <img  src="{{ item.product_image.url }}" style="" height="240" alt="Product Image" class="bw w-100"  >
                                    </div>
                                    <hr>
                                    <h4 class="text-center">{{ item.name }}</h4>
                                    {% if item.original_price == 0 %}
                                    <span class="float-start">Rp. {{ item.selling_price | stringformat:'d' }}</span>
                                    {% else %}
                                    
                                    <span class="float-start text-danger"><s>Rp. {{ item.original_price | stringformat:'d' }}</s></span>
                                    
                                    <span class="float-end text-success"> <b>Rp. {{ item.selling_price | stringformat:'d' }}</b></span>
                                    {% endif %}
                                </div>
                            </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
    </div>

    <div class="container">
        
    </div>
{% endif %}
    
{% endblock content  %}

{% block scripts %}

<script>
    $('.owl-carousel').owlCarousel({
        loop:false,
        margin:10,
        nav:false,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:4
            }
        }
    })
</script>

{% endblock scripts %}

