* {
    box-sizing : border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    width: 100%;
    height: 50vh;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.logo{
    height: 45px;
}

.menu-items {
    list-style: none;
    display: flex;
}

.menu-items li a {
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: gray;
}

.greet {
    color: #39bfbd;
    font-weight: 500;
    font-size: 1.2em;
    border-bottom: 2px solid #39bfbd;
}

.img {
    width: 500px;
    height: 500px;
}


.content {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.main-text {
    width: 500px;
}

.main-text * {
    margin: 20px 10px;
}

.main-text h1 {
    font-size: 3.5em;
    color: #1c3548;
    margin: 0px 0px 10px 0px;
    line-height: 60px;
}

.main-text p {
    color: gray;
}

.main-btn {
    width: 190px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1db096;
    border-radius: 20px;
    box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.2);
}

.main-btn:hover {
    background-color: #23cdaf;
    transition: all ease 0.3s;
    box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.5);
}

.menu-items li a:hover {
    background-color: #23cdaf;
    color: white;
    transition: all ease 0.25s;
    box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.5);
}