body{
  margin:0%;
  padding:0%;
  background-color: black;    
}
.container{
  font-family: Arial;
  color: white;
  font-weight:bold;
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 70px;
}
