body{
    background-color: #FEC196;
}

h1{
    color: #63474D;
    text-align: center;
}

input[type="file"]{
    display:none;
}

.upload-button{
    background-color: #996B71;
    color: white;
    border: none;
    box-shadow: 0px 1px 4px #996B71;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: block;
    width: 100px;
    text-align: center;
}

.upload-button:hover{
    background-color: #AA767C;
    cursor: pointer;
}

.upload-button:active {
    box-shadow:none;
}

#boxes{
    display: flex;
    justify-content:center;
}

.text-field{
    background-color:#FBFCF4;
    border: 1px solid #996B71;
    /* width: 15rem;
    height: 5rem; */
    font-family: 'Times New Roman';
    font-size: 2rem;
    
    
}

#input-field{
    margin: 10px 15vh 0px 5px;
}

#final-output{
    margin: 10px 15vh 0px 5px;

}


.text-field:focus{
    border: 1.4px solid #996B71;
    outline: none;
}

textarea{
    resize: none;
}