.nav-item .nav-link{ 
    color: rgb(70, 7, 7) !important;
    transition: .3s; padding: 0 15px !important;
  }
  
  .nav-item .nav-link:hover{ 
    color: rgb(87, 6, 6) !important;
  
  }

.main {
    margin: 0;
    padding: 2vh 0;
    width: 100%
}

.modal img{
    max-width:50%;
}
.bi-arrow-90deg-right{
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.Card{
    opacity: 1;
    transition: all 1s ease;
}
#animation-wrapper{
    position: relative;
}

#animation-wrapper iframe:nth-child(2){
    position: absolute;
    left: 0;
    top: 0;
}

/*----------footer------------*/

footer {
    background-color: #333;
    color: white;
}
.underline1{
    border-bottom: 2px solid red;
    width: 70px;
}
.anc{
    color: #fff;
    text-decoration: none;
}

.so1{
  text-decoration: none;
  color: white;
}
.so1:hover{
    text-decoration: none;
    color: #fff;
}
.so2{
    background-color: #3b5998;
    border-radius: 50%;
   width: 32px;
}

.so3{
    background-color:#55acee;
    border-radius: 50%;
}

.so4{
    background-color: #dd4b39;
    border-radius: 50%;
}

.so5{
    background-color: #ac2bac;
    border-radius: 50%;
    width: 32px;
}
.so6{
    background-color: #0082ca;
    border-radius: 50%;
    width: 32px;
}

.let{
    width: 75%;
}
.sie{
    background-color: #222;
}