@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
   box-sizing: border-box;
}

body{
   background-color: teal;
   font-family: 'Pacifico', cursive;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   overflow: hidden;
   margin: 0;
   padding: 20px;
}

.container{
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
   padding: 35px 15px;
   text-align: center;
   max-width: 80%;
   width: 800px;
}

h3{
   margin: 0;
   opacity: 0.5;
   letter-spacing: 1px;
}

.joke{
   font-size: 30px;
   letter-spacing: 1px;
   line-height: 40px;
   margin: 50px auto;
   max-width: 600px;
}

.btn{
   background-color: rgb(3, 12, 12);
   color: burlywood;
   border: 0;
   border-radius: 10px;
   box-shadow: 0 5px 15px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
   padding: 14px 40px;
   font-size: 16px;
   cursor: pointer;
}

.btn:active{
   transform: scale(0.98);
}
.btn:focus{
   outline: 0;
}
