*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.portrait{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.portrait img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portrait img.texture{
    mix-blend-mode: multiply;
    filter: contrast(1.2);
}