body {
    background-color: rgb(88, 88, 88);
    font-family: Raleway, Arial;
}

.masthead {
    background-color: #99a8fd;
    color: white;
    text-align: center;
    padding: 20px;
}

.intro {
    background-color: #3a3330;
    text-align: justify;
    padding: 20px 25%;
    color: white;
}

.test-area {
    padding: 15px 25%;
}

#origin-text {
    background-color: #000000;
    color: #ececec;
    padding: 2.5px 10px;
    ;
    font-weight: bold;
    font-family: raleway;
}

.test-wrapper {
    padding: 15px 20px 15px 0;
}

#test-area {
    width: 100%;
    padding: 5px;
    height: 200px;
    border-style: solid;
    border-color: silver;
    border-width: 7.5px;
    border-radius: 2px;
}

.timer {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    float: left;
    color: rgb(24, 196, 8);
}

#reset {
    background-color: white;
    float: right;
    height: 70px;
    color: #b43b24;
    font-size: 1.5em;
    font-weight: 500;
    border-style: solid;
    border-color: #b43b24;
    border-width: thick;
    border-radius: 3px;
}

#reset:hover {
    background-color: #b43b24;
    color: white;
}

footer {
    height: 10rem;
}
