/* ROBO Font */

@font-face
{
  font-family: ROBO;
    src: url(../fonts/ROBO.ttf);
}

*
{
  margin: 0;
  padding: 0;
}

html
{
  scroll-behavior: smooth;
}

::-webkit-scrollbar
{
  width: 10px;
}

::-webkit-scrollbar-track
{
  background: #fff;
}

::-webkit-scrollbar-thumb
{
  background: rgb(26, 26, 26);
}

body
{
  font-family: 'Roboto Mono', sans-serif;
  color: var(--light);
  background: var(--dark);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-out;
}

p
{
  font-size: 16px;
}

h1
{
  font-size: 2.7rem;
  font-weight: 900;
  margin: -4px 0px;
  line-height: 140%;
}

b
{
  font-weight: 700;
}

i
{
  font-display: swap;
}

/* Standard Dark Theme Colors */

:root
{
  --white: #f8f8f8;
  --light: #f8f8f8;
  --head-light: #f8f8f8;
  --grey: #232323;
  --gradient-grey: #232323;
  --skill-grey: #272727;
  --theme: #657cf1;
  --dark: #191919;
  --purple: #6d83f2;
  --light-purple: #6d83f2;
  --shadow: none;
  --icon-bg: #5555556e;
  --gradient: linear-gradient(134deg, #6a98f0 0%, #4961dc 99%);
  --gradient-light: linear-gradient(99deg, #6a98f0 0%, #4961dc 130%);
  --input: #f0f0f0;
  --iron-man-red: #6f2a3c;
  --iron-man-mustard: #a49574;
  --iron-man-black: #0e1116;
  --iron-man-gray: #444649;
  --navbar-black: #0e1116;
  --navbar-link: #fff;
  --iron-gradient: -webkit-linear-gradient(90deg, hsla(344, 45%, 30%, 1) 0%, hsla(41, 21%, 55%, 1) 100%);
  ;
}

/* Standard Light Theme Colors */

.light-theme
{
  --light: #000;
  --head-light: #313131;
  --grey: #f8f8f8;
  --gradient-grey: var(--gradient);
  --skill-grey: #c7d0ff;
  --dark: #f8f8f8;
  --light-purple: #f8f8f8;
  --shadow: -1px 3px 12px 0px #8b8b8b21;
  --icon-bg: rgba(209, 209, 209, 0.233);
  --input: #eeeeee;
  --navbar-black: #fff;
  --navbar-link: #000;
}

/* Navigation Bar */

#navbar
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--navbar-black);
  opacity: .9;
  min-height: 7vh;
  position: fixed;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  top: 0;
  z-index: 999;
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  font-family: ROBO;
}

/* Logo */  

.logo
{
  width: 37px;
  height: 37px;
}

.logo .jarvis-logo
{
  padding-top: 20%;
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Roboto Mono';
  color: var(--light);
  font-family: ROBO;
  letter-spacing: .2rem;
}

/* Navigation Links */

.nav-links
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  margin-top: .1%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.nav-links li
{
  list-style: none;
}

.nav-links a
{
  text-decoration: none;
  color: var(--navbar-link);
  font-size: 1.2rem;
  font-weight: 400;
  transition: .1s ease-in;
}

.nav-links a:hover
{
  color: var(--iron-man-red);
  cursor: pointer;
}

/* Hamburger Icon */

.hamburger
{
  display: none;
}

/* Toggle Button */

#modeToggle
{
  cursor: pointer;
  color: var(--white);
  margin-top: .5%;
  border-radius: 50%;
  font-size: 1.2em;
  font-weight: 900;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#modeToggle img
{
  padding: 5px;
  width: 2.5rem;
  height: 2.5rem;
}

#modeToggle:hover
{
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
}

/* Banner CSS */

.banner
{
  padding-top: 200px;
  width: 100%;
  height: 120vh;
  background-image: url(../assets/bg1.jpg);
  background-position: center;
  box-shadow: inset 0 0 0 9000px rgba(99, 93, 93, 0.3);
}

.banner h1
{
  font-size: 10vw;
  background: #ffffff;
  opacity: .9;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-align: center;
  font-family: ROBO;
  letter-spacing: 1rem;
}

.banner h2
{
  font-size: 2rem;
  font-weight: 900;
  font-family: ROBO;
  padding-top: 15px;
  color: #fff;
  text-align: center;
  letter-spacing: .3rem;
}

.banner p
{
  color: #fff;
  font-size: 1.3rem;
  padding: 15px 10px 10px 10px;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  font-weight: 500;
}

.iron-model
{
  width: 20%;
  height: 100vh;
  margin-left: 40%;
  z-index: 1;
  padding-bottom: 200px;
}

#know-button
{
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: var(--navbar-black);
  color: var(--light);
  opacity: .7;
  transition: .1s ease-in;
}

#know-button:hover
{
  opacity: 1;
}

/* Founder Section CSS */

#founder-p
{
  color: var(--iron-man-mustard);
  font-size: 2rem;
  font-weight: 500;
  font-family: ROBO;
}


/* About Us Section CSS */

#desc
{
  height: 100vh;
  margin-top: 5%;
  background-image: url(../assets/bg2.jpg);
  box-shadow: inset 0 0 0 10000px rgba(32, 32, 32, 0.3);
  background-position: center;
  z-index: 9999;
}

.basic-model
{
  height: 80vh;
  width: 500px;
  margin-top: 100px;
  z-index: 1;
}

#about-main
{
  font-size: 5rem;
  color: #fff;
  font-family: ROBO;
  text-align: center;
  letter-spacing: .6rem;
  padding-top: 100px;
  padding-bottom: 100px;
}

#about-head
{
  font-family: ROBO;
  color: var(--light);
  font-size: 4rem;
  line-height: 8rem;
  letter-spacing: .5rem;
  text-align: center;
  font-weight: 700;
}

#about-p
{
  color: #fff;
  font-weight: 500;
  width: 80%;
  text-align: center;
  margin-left: 9%;
  font-size: 1.4rem;
}

#about-button
{
  margin-left: 45%;
}

/* Parts Page CSS */

.parts h1
{
  font-size: 5rem;
  color: #ffffff;
  text-align: center;
  font-family: ROBO;
  letter-spacing: 1rem;
  padding: 30px 30px 30px 30px;
  margin-top: 100px;
}

.parts h2
{
  font-size: 5rem;
  line-height: 6rem;
  color: #ffffff;
  font-family: ROBO;
  letter-spacing: .5rem;
  padding: 20px 20px 20px 20px;
}

#parts-text
{
  color: var(--light);
}

#parts-main
{
  color: var(--light);
  font-family: ROBO;
  font-size: 5vw;
  margin-top: 100px;
  text-align: center;
}

#parts-p
{
  color: var(--light);
}

/* Model CSS */

#model-name
{
  color: var(--light);
}

#model-photo
{
  transition: transform .2s;
}

#model-photo:hover
{
  transform: scale(1.5);
}

/* Price Section CSS */

#cost
{
  color: var(--light);
  font-family: ROBO;
  letter-spacing: .5rem;
}

#price-head
{
  color: var(--light);
  font-size: 1.2rem;
  padding-bottom: 50px;
}

#price-main
{
  font-size: 5rem;
  color: var(--light);
  font-family: ROBO;
  text-align: center;
}

#price-button
{
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: var(--iron-man-black);
  color: var(--light);
  opacity: .7;
  transition: .3s ease-in;
}

#price-button:hover
{
  opacity: 1;
}

/* Pros Cons Section CSS */

#proscons-main
{
  font-size: 5rem;
  color: var(--light);
  font-family: ROBO;
  text-align: center;
  letter-spacing: .6rem;
  padding-top: 100px;
  padding-bottom: 50px;
  line-height: 5rem;
}

#proscons
{
  width: 650px;
}

#proscons-p
{
  color: var(--light);
  font-weight: 500;
  font-size: 1.2rem;
}

/* Gallery Page CSS */

#gallery-main
{
  font-size: 5rem;
  color: var(--light);
  font-family: ROBO;
  letter-spacing: .6rem;
  padding-top: 10px;
  padding-bottom: 50px;
  line-height: 5rem;
  text-align: center;
  margin-top: 100px;
}

/* Footer Section CSS */

#footer-text
{
  color: var(--light);
  font-size: 2rem;
}

#footer-text p
{
  color: var(--light);
  font-size: 1.5rem;
}

/* Parts Tabs CSS */

.tab
{
  overflow: hidden;
  border: 3px solid var(--light);
  margin: 100px;
}

.tab button
{
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 24px;
  width: 25%;
}

.tab button:hover
{
  background-color: rgb(49, 49, 49);
  color: white;
}

.tab button.active
{
  background-color: rgb(44, 44, 44);
  color: white;
}

.tabcontent
{
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.tabcontent p
{
  font-weight: 500;
}

.row
{
  display: flex;
}

.column
{
  flex: 50%;
}

#parts-head
{
  font-size: 1px;
}



/* Responsive Codes */
@media screen and (max-width: 873px)
{
  #navbar
  {
    min-width: 8vh;
  }

  .line-1,
    .line-2,
    .line-3
  {
    width: 30px;
    height: 3px;
    background: var(--purple);
    margin: 5px;
    -webkit-transition: 400ms;
    transition: 400ms;
    border-radius: 10px;
  }

  .hamburger
  {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
    transform: translate(-5%, -50%);
    z-index: 20;
  }

  .logo
  {
    top: 50%;
    left: 5%;
    position: absolute;
    -webkit-transform: translate(-5%, -50%);
    transform: translate(-5%, -50%);
  }

  .nav-links
  {
    position: fixed;
    background: var(--grey);
    height: 100vh;
    width: 100%;
    margin-top: 46.5vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
    padding: 100px 0;
  }

  .nav-links.open
  {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .nav-links li
  {
    font-size: 25px;
    font-weight: 600;
    opacity: 0;
  }

  .nav-links li a
  {
    font-size: 25px;
    font-weight: 600;
  }

  .nav-links li:nth-child(1)
  {
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2)
  {
    -webkit-transition: all 0.5s ease 0.4s;
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3)
  {
    -webkit-transition: all 0.5s ease 0.6s;
    transition: all 0.5s ease 0.6s;
  }

  .nav-links li:nth-child(4)
  {
    -webkit-transition: all 0.5s ease 0.8s;
    transition: all 0.5s ease 0.8s;
  }

  .nav-links li:nth-child(5)
  {
    -webkit-transition: all 0.5s ease 1s;
    transition: all 0.5s ease 1s;
  }

  .nav-links li:nth-child(6)
  {
    -webkit-transition: all 0.5s ease 1.2s;
    transition: all 0.5s ease 1.2s;
  }

  .nav-links li.fade
  {
    opacity: 1;
  }

  .toggle .line-1
  {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line-2
  {
    opacity: 0;
  }

  .toggle .line-3
  {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media screen and (max-width: 1043px)
{
  .iron-model
  {
    display: none;
  }
}

@media screen and (max-width: 680px)
{
  #about-main
  {
    font-size: 3rem;
  }
}

@media screen and (max-width: 800px)
{
  .banner p
  {
    font-size: 1rem;
    text-align: center;
  }
}

@media screen and (max-width: 690px)
{
  .basic-model
  {
    width: 300px;
    height: 300px;
  }

  #parts-text
  {
    font-size: 2rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 430px)
{
  #price-main
  {
    font-size: 2rem;
  }

  .banner
  {
    width: 100%;
  }

  .banner p
  {
    font-size: .7rem;
  }

  html
  {
    width: 100%;
  }
}

@media screen and (max-width: 453px)
{
  html
  {
    width: 140%;
  }

  #about-p
  {
    font-size: 1.2rem;
  }

  .banner p
  {
    font-size: 1rem;
  }

  #about-head
  {
    font-size: .01rem;
  }

  #parts-head
  {
    font-size: .2rem;
  }
}

@media screen and (max-width: 305px)
{
  html
  {
    width: 142%;
  }
}

@media screen and (max-width: 790px)
{
  #about-head
  {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@media screen and (max-width: 281px)
{
  .banner p
  {
    font-size: .4rem;
  }
}

@media screen and (max-width: 267px)
{
  .banner p
  {
    font-size: .2rem;
    width: 100%;
  }
}

@media screen and (max-width: 320px)
{
  #about-p
  {
    font-size: .85rem;
  }

  .banner p
  {
    font-size: .8rem;
    width: 80%;
    text-align: center;
    margin-left: 10%;
  }
}

@media screen and (max-width: 287px)
{
  #cost
  {
    font-size: 2rem;
  }
}

@media screen and (max-width: 247px)
{
  #cost
  {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 479px)
{
  #about-p
  {
    font-size: 1rem;
  }
}

@media screen and (max-width: 280px)
{
  #about-p
  {
    font-size: .9rem;
  }
}

@media screen and (max-width: 700px)
{
  #parts-head
  {
    font-size: .1rem;
  }
}

@media screen and (max-width: 254px)
{
  .tablinks
  {
    font-size: .1rem;
  }
}

@media screen and (max-width: 778px)
{
  #tabname
  {
    font-size: 1rem;
  }
}

@media screen and (max-width: 538px)
{
  #tabname
  {
    font-size: .8rem;
  }
}

@media screen and (max-width: 278px)
{
  #tabname
  {
    font-size: .5rem;
  }
}

