*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    margin: auto;
}
header{
    background: #404F61;
    padding: 45px 0;
    color:#CDAB9D ;
    text-align:center;
   
}
section{
    padding: 45px 0;
    margin: auto;

}
.cont{
    
    margin: 0 auto;
    margin: auto;
    width: 90%;
    max-width: 700px;
    
}
.cont-1{
    border:2px solid #404F61;
}

.sec-2{
    background: #404F61;
    color: #CDAB9D;
}
.sec-1{
    background: #CDAB9D;
    color: #404F61;
}
img{
    width: 100%;
    height: 200px;
}
