*{
    margin:0%;
}
body{
    background-image: url('https://cdn.pixabay.com/photo/2016/05/28/00/06/gift-1420830_960_720.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
.birthday{
    margin: 20%;
    padding: 10px;
    color:black;
    text-align: center;
    vertical-align:middle;
    backdrop-filter: blur(10px) ;
    border-radius: 35px;
    border-color: rgb(80, 33, 43);
    border-style: double;
	
}

.birthday2{
    text-shadow: 1px 2px;
    font-size: 30px;
}

.birthday2:hover {
    color:#ffddca;
}