.background {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='100%' height='100%' preserveAspectRatio='none' viewBox='0 0 1440 565'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1218%26quot%3b)' fill='none'%3e%3crect width='100%' height='100%' x='0' y='0' fill='url(%23SvgjsLinearGradient1219)'%3e%3c/rect%3e%3cpath d='M0 0L335.56 0L0 221.25z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 221.25L335.56 0L397.09000000000003 0L0 331.62z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 331.62L397.09000000000003 0L730.6700000000001 0L0 351.56z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 351.56L730.6700000000001 0L1233 0L0 361.04z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1440 565L833.44 565L1440 367.03z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1440 367.03L833.44 565L735.5600000000001 565L1440 310.21999999999997z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1440 310.22L735.5600000000001 565L473.20000000000005 565L1440 164.06000000000003z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1440 164.06L473.20000000000005 565L238.41000000000005 565L1440 101.03999999999999z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1218'%3e%3crect width='100%' height='100%' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1219'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 158%2c 143%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.header {
  color: rgb(16, 68, 68);
  margin-top: 50px;
  margin-left: 70px;
  font-size: 25px;
  font-weight: 600;
}

.header2 {
  color: rgb(27, 236, 236);
  margin-left: 60px;
}

.textField {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.title {
  text-align: right;
  font-size: 42px;
  margin-top: 15px;
  /* margin-right: 25px; */
  color: rgb(14, 41, 41);
  font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style",
    Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
}

.text {
  color: rgb(188, 229, 229);
  font-size: 50px;
  /* margin-left: 60px; */
  padding-left: 80px;
}

.logo {
  width: 80px;
  border-radius: 50%;
  position: right;
  margin-top: 15px;
  float: right;
  margin-right: 20px;
}

/* From cssbuttons.io by @adamgiebl */
/* From cssbuttons.io by @nikk7007 */
.btn {
  padding: 0.8em 1.8em;
  border: 2px solid #17c3b2;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #17c3b2;
}

.btn::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #17c3b2;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.btn:hover::before {
  width: 105%;
}

.btn:hover {
  color: #111;
}
