.header {
  background-color: rgb(213, 236, 183);
  border: 1px solid rgb(50, 62, 85);
  margin-top: 10px;
}

.form {
  padding-top: 30px;
  background-color: rgb(220, 245, 220);
  -webkit-box-shadow: 10px 10px 10px 5px rgb(8, 30, 59);
  -moz-box-shadow: 10px 10px 10px 5px rgb(8, 30, 59);
  box-shadow: 10px 10px 20px 5px rgb(8, 30, 59);
}

/* #cv-form{
    display: none;
} */

#cv-template {
  display: none;
}

.profilePicture {
  border: 1px solid rgb(245, 243, 243);
  border-radius: 50%;
  width: 200px;
  margin-top: 20px;
  height: 225px;
  border: 1px solid rgb(18, 27, 27);
}

.personalColumn {
  background-color: rgb(217, 243, 241);
}

.skillsList {
  padding-left: 20px;
}

.background {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='100%' height='100%' preserveAspectRatio='none' viewBox='0 0 100 100'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1340%26quot%3b)' fill='none'%3e%3crect width='100%' height='100%' x='0' y='0' fill='url(%23SvgjsLinearGradient1341)'%3e%3c/rect%3e%3cpath d='M100 0L86.42 0L100 48.31z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M86.42 0L100 48.31L100 67.38L56.68000000000001 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M56.68 0L100 67.38L100 84.06L54.01 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M54.01 0L100 84.06L100 85.84L23.779999999999998 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 100L26.41 100L0 50.8z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 50.8L26.41 100L44.56 100L0 36.949999999999996z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 36.949999999999996L44.56 100L52.690000000000005 100L0 18.829999999999995z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 18.83L52.690000000000005 100L65.56 100L0 12.819999999999999z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1340'%3e%3crect width='100%' height='100%' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1341'%3e%3cstop stop-color='rgba(14%2c 84%2c 78%2c 1)' offset='0.01'%3e%3c/stop%3e%3cstop stop-color='rgba(14%2c 84%2c 78%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(44%2c 200%2c 196%2c 1)' offset='0.81'%3e%3c/stop%3e%3cstop stop-color='rgba(44%2c 200%2c 196%2c 1)' offset='0.9'%3e%3c/stop%3e%3cstop stop-color='rgba(44%2c 200%2c 196%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

/* From cssbuttons.io by @nikk7007 */
.addBtn {
  --color: #00a97f;
  --color2: #163f41;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 10px;
  border: 1.5px solid var(--color);
  transition: 0.5s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 700;
  font-size: 10px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: var(--color);
}

.addBtn::before {
  content: "";
  display: block;
  height: 110%;
  width: 310%;
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  left: -5%;
  z-index: -1;
  transition: 0.7s;
  background: -moz-linear-gradient(45deg, var(--color2) 33%, var(--color) 66%);
  background: -webkit-linear-gradient(
    45deg,
    var(--color2) 33%,
    var(--color) 66%
  );
  background: linear-gradient(45deg, var(--color2) 33%, var(--color) 66%);
}

.addBtn:hover::before {
  left: -200%;
}

.addBtn:hover {
  color: var(--color2);
}

.addBtn:active {
  transform: scale(0.98);
  filter: brightness(0.8);
}

.delBtn {
  --color: #da9f88;
  --color2: #ad1212;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 10px;
  border: 1.5px solid var(--color);
  transition: 0.5s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 700;
  font-size: 10px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: var(--color);
}

.delBtn::before {
  content: "";
  display: block;
  height: 110%;
  width: 310%;
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  left: -5%;
  z-index: -1;
  transition: 0.7s;
  background: -moz-linear-gradient(45deg, var(--color2) 33%, var(--color) 66%);
  background: -webkit-linear-gradient(
    45deg,
    var(--color2) 33%,
    var(--color) 66%
  );
  background: linear-gradient(45deg, var(--color2) 33%, var(--color) 66%);
}

.delBtn:hover::before {
  left: -200%;
}

.delBtn:hover {
  color: var(--color2);
}

.delBtn:active {
  transform: scale(0.98);
  filter: brightness(0.8);
}

.Genbtn {
  --color: #00a97f;
  --color2: #052c2e;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 10px;
  border: 1.5px solid var(--color);
  transition: 0.5s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 700;
  font-size: 17px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: var(--color);
}

.Genbtn::before {
  content: "";
  display: block;
  height: 110%;
  width: 310%;
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  left: -5%;
  z-index: -1;
  transition: 0.7s;
  background: -moz-linear-gradient(45deg, var(--color2) 33%, var(--color) 66%);
  background: -webkit-linear-gradient(
    45deg,
    var(--color2) 33%,
    var(--color) 66%
  );
  background: linear-gradient(45deg, var(--color2) 33%, var(--color) 66%);
}

.Genbtn:hover::before {
  left: -200%;
}

.Genbtn:hover {
  color: var(--color2);
}

.Genbtn:active {
  transform: scale(0.98);
  filter: brightness(0.8);
}

.labelform {
  color: white;
  font-weight: 600;
  font-size: 20px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.pform {
  color: white;
  font-weight: 600;
  font-size: 20px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.h3form {
  margin-bottom: 25px;
  font-weight: 800;
  font-size: 40px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  color: rgb(27, 57, 66);
}

.cvBackground {
  background-color: white;
  -webkit-box-shadow: 10px 10px 10px 5px rgb(8, 30, 59);
  -moz-box-shadow: 10px 10px 10px 5px rgb(8, 30, 59);
  box-shadow: 10px 10px 20px 5px rgb(8, 30, 59);
}

.pCVtemplate {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 700;
}

.cvHeading {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia,
    serif;
}

.h3CVtemplate {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua",
    Georgia, serif;
  font-weight: 900;
}

.listCVtemplate {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: rgb(8, 19, 36);
}

.socialLIn {
  background-color: rgb(23, 109, 167);
  color: whitesmoke;
}

.socialGh {
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
}

/* From cssbuttons.io by @adamgiebl */
.cvBtn1 {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 15px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.cvBtn1:hover {
  border: 1px solid white;
}

.cvBtn1:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

.cvBtn2 {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 15px;
  border-radius: 0.5em;
  background: #d8c412;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.cvBtn2:hover {
  border: 1px solid white;
}

.cvBtn2:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}
