/*
Custom Style New Css

*/
 
html {
  scroll-behavior: auto;
	scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6, a{
	font-family: 'Montserrat', sans-serif;
}
p{
	
	font-family: 'Poppins', sans-serif;
}
a:hover{
	text-decoration: none;
}
body{
	position: relative;
}
 
/*header section styleing */


header .logo img{
	width: 260px;
}
header .navigation-menu{
	display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .navigation-menu ul li{
	margin-right: 10px;

}
.header-btn{
	margin-left: 0px;
}
.hero-banner{
	background-image: linear-gradient(to top,rgb(73 175 70 / 66%),rgb(38 80 107 / 51%)),url(image/head-baner.jpg);
	background-size: cover;
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
   /*clip-path: polygon(0 0, 100% 0, 100% 100%, 35% 70%, 35% 70%, 0 100%);*/
	border-top: 2px solid #cbec00;
}
.nav-banner{
	padding: 50px 40px;
	padding-bottom: 70px;
}	
header .nav ul li{
	font-size: 1.16rem;
	font-weight: 700;
	display: flex;
	flex-direction: column;

}
header .nav ul li a{
	color: #fff;
}
header .nav .main-menu .nav-item:nth-child(2)>a:after{
	content: ">";	
	transform: rotate(90deg);
	font-size: 18px;
	font-weight: 700;
	display: inline-block;
	position: relative;
	top: -2.5px;
	color: #fff;
	margin-left: 5px;
}
header .nav .main-menu .nav-item a:hover{
	color: #cbec00;
}
header .nav ul li a:hover>header>.nav>ul>li:nth-child(2)>a:after{
	color: #cbec00;
}
header .header-btn{
	position: relative;
	top: 10%;
	left: 15%;
}
header .header-btn button{
	border-radius: 50px;
	background-color: #bcdb00;
	font-size: 18px;
	transition: 0.5s;
	border:2px solid #cbec00;
	font-weight: 500;
	padding: 10px 25px;
	box-shadow: 2px 2px 20px rgba(0,0,0,0.15);	
}
header .header-btn button:hover{
	background-color: transparent;
	border:2px solid #cbec00;
}
header .nav .main-menu .nav-item{

}
.sub-menu{
	display: none;
	position: absolute;
	background: #cbec00;
	margin-top: 40px;
	padding-top: 25px;
	z-index: 10000;
	background-color: unset;
	margin-left: -190px;
}
header .nav ul li:hover .sub-menu{
	display: block;

}
.sub-menu .carrot{
	position: absolute;
	height: 30px;
	width: 50px;
	background-color: #cbec00;
	margin-top:-25px;
	margin-left: 250px;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

}

.sub-menu ul{
	height: 390px;
	width: 400px;
	background-color: #cbec00;
	display: flex;
	flex-direction: column;
	padding: 5px;
	margin:0px;
	display: table;
}
.sub-menu ul li a{
	font-size: 	1.02em;
	margin:9px 10px; 
	transition: 0.4s;
}
.sub-menu ul li a:after{
	background: none repeat scroll 0 0 transparent;
  
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.sub-menu ul li a:hover{
	color: #fff !important;
}
.sub-menu ul li a:hover:after{
	 width: 82%; 
  left: 9%; 
}
.sub-menu ul li{
	padding: 0px 20px;
}
.sub-menu ul li:nth-child(7){
	border-bottom: none;
}
.fa-greater-than{
	float: right;
	margin-top: 3px;
}
.sub-menu-2{
	display: none;
	transition: 0.5s;
	position: absolute;
	top: 6%;
	left: 95%;
	overflow: hidden;

}

.sub-menu-2 ul{
	background-color: #82D920;

}
.sub-menu-2 ul li:nth-child(1){
	margin-top: 25px;
}
.sub-menu-2 ul li{
	margin-top: 10px;
}

.sub-menu .sub-menu-item li:nth-child(2):hover .sub-menu-2{
	display: block;
}
.sub-menu .sub-menu-item li:nth-child(2):hover>.sub-menu{
	margin-left: -180px;
}
.banner-heading{
	padding: 50px 10px;
	padding-top: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 150px;
}
.banner-heading h1{
	font-size: 70px;
	font-weight: 800;
	color: #fff;	
	letter-spacing: 2px;
	text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.social-icon ul li{
	font-size: 1.1rem;
}
.social-icon{
	margin-top: 0px;	
	margin-left:0%;
	padding: 10px;
	margin-right: 20%;
}
.social-icon ul li{
	height: 40px;
	width:  40px;
	margin-left: 6px;	
	display: flex;
	justify-content: center;
	align-items: center;	
	background: #056b5e;
	border-radius: 50%;
	transition: 0.5s;
	box-shadow: 2px 1px 10px rgba(0,0,0,0.3);
}
.social-icon ul li a{
	color: #fff;
    transition: 0.5s;
}
.social-icon ul li:hover:nth-child(1){
	background: #4b4b4b;
}
.social-icon ul li:hover:nth-child(1) a{
	color: #2f89fc;
	transform: scale(1.12);
}
.social-icon ul li:hover:nth-child(2){
	background: #4b4b4b;
}
.social-icon ul li:hover:nth-child(2) a{
	color:  #00acee;
	transform: scale(1.12);
}.social-icon ul li:hover:nth-child(3){
	background: #4b4b4b;
}
.social-icon ul li:hover:nth-child(3) a{
	color: #0e76a8;
	transform: scale(1.12);
}
.social-icon ul li:hover:nth-child(4){
	background: #4b4b4b;
}
.social-icon ul li:hover:nth-child(4) a{
	color: 	#E60023;
	transform: scale(1.12);
}
.header-top{
background-image: linear-gradient(to top,rgba(0,0,0,0.3),rgba(0,0,0,0.25)),url(image/head-baner.jpg);
background-size: cover;
background-repeat: no-repeat;
}
.header-top .contact h2 a{
	display: flex;
	margin-left: 20px;
	transition: 0.4s;
	font-size: 18px;
	color: #fff;
}

.header-top .contact{
	height: 100%;
	display: flex;
	transition: 0.4s;
	justify-content: flex-start;
	align-items: center;
	padding-left: 50px;	
}
.header-top .social-icon{
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.header-top .contact h2:hover:nth-child(1)>a{
	transform: scale(1.02);
}
.header-top .contact h2:hover:nth-child(2)>a{
	transform: scale(1.02);
}
.header-top .contact h2:hover:nth-child(2)>a>i{
	color: #ff4d4d;	

}
.header-top .contact h2:hover:nth-child(1)>a>i{
	color: #32ff7e;	

}
header .icon .call-data a{
	margin-top: 20px;
	color: #424656;
}
.clip-path{
	height: 143px;
	position: relative;
	width: 100%;
	margin-top: -143px;
	margin-bottom: 80px;
	background-image: url(image/wave.png);
	animation: animate 12s linear infinite;
}
.clip-path:before{
	content: '';
	width: 100%;
	height: 143px;
	background-image: url(image/wave.png);
	opacity: 0.4;
	position: absolute;
	top: 0px;
	left: 0px;	
	animation:animate-reverse 12s linear infinite;

}
.clip-path:after{
	content: '';
	width: 100%;
	height: 143px;
	background-image: url(image/wave.png);
	opacity: 0.6;
	position: absolute;
	top: 0px;
	left: 0px;	
	animation-delay: -5s;
	animation:animate 25s linear infinite;

}
@keyframes animate{
	0%{
		background-position: 0px;
	}
	100%{
		background-position: 1360px;
	}
}
@keyframes animate-reverse{
	0%{
		background-position: 1360px;
	}
	100%{
		background-position: 0px;
	}
}

.filter-sec{
	margin-top: 20px;
	text-align: center;
}
.filter-sec h1{
	color: #056b5e;
}
.filter-sec h1 span select{
	border:none;
	font-size: 1em;
	font-weight: 500;
	color: #056b5e;
	cursor: pointer;
}
.filter-sec h1 span select,.filter-sec h1 span select:active{
	border-bottom: 2px solid #2a3100;
}
.filter-sec h1 span .cstm-select .cstm-option{
	margin: 20px;
}

.filter-sec h1 span .form-select:focus{
	border:none;
	outline: 0px;
}
.blog-section{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 50px;	
	transform-style: preserve-3d;

}
.boxu{
	position: relative;
	width: 100%;
	height: 245px;
	margin: 0px;
	padding: 15px; 
	transform-style: preserve-3d;
	perspective: 1000px;
}
.cstm-card-l{
	height: 550px;
}
.boxu .box .img-box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
}

.boxu .box .img-box img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	object-fit: cover;
}
.cstm-card-l .box .img-box img{
	
}









