html{
  background-color: #190E4F;
}
main {
  max-width: 768px;
  min-height: 500px;
  margin: 10rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  border-radius: 1rem;  
  box-shadow: 0 0 0 .3;
}

h2 {
  color: chocolate;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 300;
  font-size: xx-large;
  margin: 8rem 0 4rem;
}

.fields, .field {
  flex: 1;
  display: flex;
  column-gap: 2rem;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
}
span {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  height: 2rem;
  text-align: center;
}



select {
  height: 2rem;
}