@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300&display=swap'); 


*{
    border: none;  
    outline: none;
    
}

/* .Headline h3{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.nav{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.NavContent{
    justify-content: stretch;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    margin-right: 25px;
}



.NavContent a{
    width: 80px;
    text-decoration: none;
    color: darkcyan;
    font-size: 20px;
    font-weight: 600px;
}

.Login {
    width: 100px;
}

.SignUp{
    padding-right: 25px;
    width: 150px;
}

.Hero{
    height: 850px;
    background-image: url(./Resources/Hero-Bg-Image.jpg);
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 45px;
}

.HeroText{
    color:antiquewhite;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: inherit;
}

.HeroText h3{
    font-family: 'League Spartan', sans-serif ;
    font-size: 48px;
    font-weight: 100px;
}

.Hero h1{
    font-family: 'League Spartan', sans-serif;
    font-size: 31px;
    margin-left: 20px;
}

.HeroText span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.SampleResume{
    height: 450px;
    width: 750px;
    background-image: url(./Resources/Resume-Sample.png);
}

/* .BuildMyResume{
    
} */

.description{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.description h3{
    margin-top: 100px;
    margin-left: 30px;
    font-size: 40px;
}

.description_Container_1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    
}

.Sub_Container1{
    width: 30%;
    float: left;
    
}



.Sub_Container2{
    width: 30%;
    font-size: 25px;
    float: right;
}



.description_Container_2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
}

.Sub_Container3{
    width: 30%;
    font-size: 25px;
    float: right;
}

.Sub_Container4{
    width: 30%;
    float: left;
    
}

.StepsContainer{
    width: 100%;
    height: 744px;
    background-image: linear-gradient(to bottom,white,grey);
}

.steps {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 40px;
}

.steps h3{
    font-size: 40px;
}

.steps span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}


.StepPointers{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 70px;
}

.StepsPointer1{
    margin-bottom: 55px;
    font-family: 'League Spartan', sans-serif;
}

.StepsPointer1 h2{
    font-size: 31px;
    font-weight: bold;
    
}

.StepsPointer1 div{
    font-size: 19px;
}


.StepsPointer2{
    margin-bottom: 55px;
    font-family: 'League Spartan', sans-serif;
}

.StepsPointer2 h2{
    font-size: 31px;
    font-weight: 400px;
    font-weight: bold;
}

.StepsPointer2 div{
    font-size: 19px;
}


.StepsPointer3{
    
    font-family: 'League Spartan', sans-serif;
}

.StepsPointer3 h2{
    font-size: 31px;
    font-weight: 400px;
    font-weight: bold;
}

.StepsPointer3 h2 div{
    font-size: 31px;
    font-weight: 400px;
    font-weight: bold;
    display: flex;
    
} 

.StepsPointer3 div{
    font-size: 19px;
}

.StepsGIF{
    height: 200px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-right: 100px;
}
