.carousel-item {
    background-color: black;
  }
  .carousel-item img {
    padding: 0;
    width: 100%;
    height: 400px;
    display: block;
    /* opacity: 1; */
    opacity: 0.3;
  }
  .carousel-item img,
  .my_content {
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
  }

  .my_content {
    position: absolute;
    color: white;
    left: 0;
    top: 25%;
    right: 0;
    bottom: 0;
    font-size: 24px;
    text-align: center;
    opacity: 1;
  }
.container2{
    box-sizing: border-box;
    width: 500%;
    height: 300px;
    text-align: center;
    padding: 200px;
    justify-content: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row
}
body{
    background-color: coral;
}
/* .paras{
    display: flex;
    width: 100%;

}
.boxes{
    display: inline-block;
    width: 240px;
    height: 330px;
} */