* {
  font-family: monospace;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #3498db;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #fff;
  border: none;
  margin: 50px 0;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  flex: 1;
  width: auto;
  max-width: 400px;
  margin: auto;
}
.header {
  background-color: #fff;
  padding: 40px 40px 10px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 40px;
}
.nav-links {
  width: 100%;
  margin-top: 20px;
}
.container {
  padding: 20px;
  padding-top: 60px;
  max-width: 600px;
  margin: auto;
}
.showcase-card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffff;
  border-radius: 4px;
}
.ex-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.ex-preview {
  height: 300px;
  width: 100%;
  margin-bottom: 30px;
}
.ex-code {
  background-color: #ddd;
  border-radius: 4px;
  width: 100%;
  overflow-x: auto;
}
.nav-links a {
  padding: 5px 20px;
  text-decoration: none;
  color: #333;
  font-weight: 800;
}

.nav-links a:hover {
  text-decoration: underline;
  background-color: #ddd;
  border-radius: 4px;
}
