html, body, main {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans Mono', monospace;
}

html {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 768px;
  max-height: 400px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
}

.title span, .counter span {
  font-size: 4rem;
  color: white;
}

title span {
  font-family: 'Festive', cursive;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

button {
  width: 2.5rem;
  height: 2.5rem;
  
  border-radius: 1.25rem;
  border: none;
  padding: 0.5rem;

  background-color: #4158D0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 1rem;
}

button:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

button:nth-child(2) {
  background-color: #F05D5E;
}
