.centerall {
  height: 100vh;
  width: 100vw;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.bd-notification {
  font-size: xx-large;
}

.hidden {
  color: transparent;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.hidden img {
  display: none;
}

.card {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 4px #fc414a;
  -moz-box-shadow: 0px 0px 4px #fc414a;
  box-shadow: 0px 0px 4px #fc414a;
}
