body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    color: orangered;
    font-size: 45px;
}

#b1,#b2,#b3,#b4,#b5,#b6,#b7,#b8,#b9{
    width: 80px;
    height: 52px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

#but{
    width: 95px;
    height: 40px;
    border: 1px solid dodgerblue;
    margin: auto;
    border-radius: 4px;
    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#print{
    color: dodgerblue;
    font-size: 20px;
}

#main{
    text-align: center;
}

#ins{
    color: dodgerblue;
    font-size: 17px;
}