* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(100deg, #dabe64, #d5816a);
  color: white;
  font-family: "Poppins", sans-serif;
}

.logo {
  height: 50px;
  width: 150px;
  margin-left: 20px;
  margin-top: 10px;
}

.navigation {
  background-color: transparent;
  display: flex;
  padding: 0 20px;
  margin: 0;
}

main {
  height: 100vh;
}

.headiing {
  text-align: center;
}
.headiing,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

form input,
form button {
  padding: 10px;
  font-size: 30px;
  border: none;
  background: white;
  outline: none;
}

form button {
  color: #d5816a;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  color: white;
  background: #d5816a;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#todo-list {
  min-width: 40%;
  list-style: none;
}

.todo {
  margin: 10px;
  background: white;
  color: black;
  font-size: 1.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo p {
  flex: 1;
}

.complete-btn,
.trash-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 12px;
}

.complete-btn {
  background: rgb(73, 204, 73);
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  appearance: none;
  outline: none;
  border: none;
  background: white;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #ff6f47;
  width: 15vw;
  cursor: pointer;
  padding: 1.5vw;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #ff6f47;
  top: 0;
  right: 0;
  padding: 1.5vw;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: white;
  color: #ff6f47;
}

footer {
  background-color: transparent;
  color: white;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

footer .social-links a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

footer .social-links a:hover {
  color: #2f9ee5;
}

footer .copy span {
  color: #000000;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .navigation {
    justify-content: center;
  }
  .logo {
    margin: 10px 0;
  }
  form input,
  form button {
    font-size: 5vw !important;
  }
  #todo-list {
    min-width: 80% !important;
  }
  .todo {
    font-size: 4vw !important;
  }
  footer {
    flex-direction: column;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  form input,
  form button {
    font-size: 30px;
  }
  select {
    width: 40vw;
    padding: 2.5vw;
  }
  .select::after {
    padding: 2vw;
  }

  #todo-list {
    min-width: 55%;
  }
  .todo {
    font-size: 2.5vw;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
