body{
    background-color: rgba(13, 124, 128, 0.993);
    text-align: center;
}
.login-page{
    margin: 200px;
}

img{
    height: 170px;
    width: 170px;
    position: absolute;
    top: 110px;
    left: 43.5%;
    border: 10px solid rgba(13, 124, 128, 0.993);;
    border-radius: 100%;
    text-align: center;
    z-index: 1;

}
a{
    text-decoration: none;
}

form{
    margin: 60px 3px;
}
.page{
    height: 500px;
    width: 400px;
    background-color: rgb(231, 185, 34);
    display: inline-block;
    padding: 50px;
    border-radius: 10px;
    
}


.icon{
    background-color: rgb(192, 72, 72);
    color: #fff;
}
.details{
    margin: 10px 0;
    padding: 0%;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 5px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #e2453ae7;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }