/* header{
    position: relative;
    left: 100px;
    top: 100px;
} */
body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: arial;
}
header{
    background-color: red;
    padding: 5px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

header h1{
    color: white;
    border: 4px solid white;
    padding: 6px 12px; /* first value i.e.6px is for top & bottom, second value i.e.12px is for left & right */
    display: inline-block;
    border-radius: 28px; /* It helps us to give us a curved corner to our borders */)

}

.banner{
    position: relative;
}

.banner img{
    max-width: 100%;
}

.banner .welcome{
    background-color: orange;
    color: white;
    padding: 30px;
    position: absolute;
    left:0px;
   /* top: 200px; /* but it will not adjust according to the page so we will use % in place of px */
   top: 30%;
}

.banner h2{
    font-size: 50px;
}

.banner h2 span{
    font-size: 1.5em;
}

nav{
    background-color: rgb(238, 234, 234);
    padding: 10px;
    position: sticky;
    top: 63px;
}

nav ul{
    white-space: nowrap; /* It means it not gonna wrap on the next line, we can see them all in one line */
    max-width: 1200px;
    margin: 0 auto; /* 0-top & bottom , auto-if there is any space in left and right it will automatically fit in that 
    all the links are always fit according to the center and maintaining margin from left and right */
}

nav li{
    width: 25%;
    display: inline-block;
    font-size: 25px;
}

nav li a{
    text-decoration: none;
    color: rgb(37, 37, 37);
}

nav li a.join{
    color: red ;
}

main{
    max-width: 100%;
    width: 1200px;
    margin: 30px auto;
    padding: 0 7px;
    box-sizing: border-box;  /* It will include the padding in 100% width and our text will not exceed the page size in left and 
    right when we compress or zoom in */
}

article h2{
    color: red;
    font-size: 40px;
}

article p{
    line-height: 1.5em;
    color: rgb(68, 0, 68);
}

.images{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
}

.images li{
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}

.images li img{
    max-width: 100%;
}

section.join{
    background: lightgrey;
    text-align: center;
    padding: 40px 10px;
    color: rgb(95, 23, 23);
}

.join h2{
    font-size: 36px;
}

form input{
    margin: 15px 0;
    padding: 7px 15px;
    font-size: 20px;
    border-radius: 28px;
    border: 3px solid white;
}

footer{
    background: red;
    color: white;
    padding: 10px;
    text-align: center;
}

/* pseudo classes */

nav li a:hover{    /* here :hover is the pseudo class */
    text-decoration: underline;
  /*  background-color: antiquewhite;
    padding: 2px;  */
}

.images li:hover{
    position: relative;
    top: -4px; /* We can also use bottom but -4 is doing the work for us */
}

form input:focus{
    border: 3px dashed #4b4b4b;  /* overriding the border of above form input selector */
    outline: none;
}

form input:valid{     /* If the input of form is valid it will design it differently */
    border: 4px solid rgb(30, 170, 30);
}

/*First child pseudo class, it can tag the first child of a parent element 
nav li:first-child{
    border: 3px solid red;
}    */

/* CSS Pseudo Elements */
article p::first-line{ /* Styles the first line of the article */
    font-weight: bold;
    font-size: 1.2em;
}

section.join p::first-letter{ /* Styles the first letter of a line */
    font-size: 1.5em;
}

 p::selection{
    background-color: red;
    color: white;
}

p::after{  /* for injecting a content after the paragrap tag p */
    content: '...'; /*single or double quotes and content is used for injecting some string */
}

/* responsive styles */
/* all these styles inside this paranthesis are for the devices whose viewport is less than 1400px   */
     
@media screen and (max-width: 1000px){  
     
    .banner .welcome h2{ 
        font-size: 25px;
    }

    nav li{
        font-size: 15px;
    }

}

@media screen and (max-width: 500px){  
     
    .banner .welcome h2{ 
        font-size: 10px;
    }
    .banner .welcome{ 
        position:relative;
        text-align: center;
        padding: 6px; 
    }
    .banner .welcome br{
        display:none;
    }
    .banner .welcome span{
        font-size: 1em;
    }
    .images li{
        width: 100%;
        margin: 20px auto;
        display: block;
    }

}

@media screen and (max-width: 500px){
    nav li{
        font-size: 20px;
        position: relative;
        display: block;
        margin: 12px 0;
    }

    header{
        position: relative;
    }
    nav{
        top: 0;
    }
}