@media(max-width:800px){
    .about{
        padding:20rem 1rem 20rem 1rem;
    }
    .image-container{
        height:50rem;
        width:100%;
    }
    .paragraph p{
        padding:0 1.3rem;
        line-height: 2.2;
    }
    .about-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .image-container{
        display: flex;
        align-items: center;
        margin-top: 5rem;
    }
    .nav_button{
        right:4.8rem;
    }
    .image{
        width:70%;
        height:50%;
        background-position: center;
        background-size: cover;
    }
}