*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
	overflow-x: hidden;
}
body{
	overflow-x: hidden;
	margin:2rem;
	scroll-behavior: smooth;
}
.main-cover{
	position: relative;
	background: url(startup.jpg);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	object-fit: cover;
	clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
	color:white;
	padding-top: 3%;
	padding-right: 15%;
	padding-left: 15%;
}
.main-cover::after{
	content: '';
	position: absolute;
	background: rgba(0, 73, 183, .9);
	
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}

header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 10vh;
	position: relative;
	z-index: 1000;
	padding: 9rem 1rem;
}
header .logo h1{
	font-size: 4.5rem;
	font-family:"Ubuntu",sans-serif;
	font-weight: 500;
}


.mainul{
	padding: 0;
	margin:0;
	display: flex;
	list-style: none;
	
}
.mainul li a{
	text-decoration: none;
	list-style: none;
	cursor: pointer;
	padding:.6rem 1.6rem;
	list-style: none;
	margin:3rem;
	font-size: 1.8rem;
	font-family: "Roboto mono",monospace;
	text-transform: uppercase;
	color:rgba(254,254,254,.8);
	position: relative;
	transition: all 150ms linear;
	
}
.mainul li a:hover{
	color:white;
}
.mainul li a::after{
	content:'';

	position: absolute;
	left:0;
	bottom: 0;
	background: #F64C72;
	width:0%;
	transition: all 350ms cubic-bezier(.75,-0.5,0,1.75);
	height: 3px;
}

.mainul li a:hover::after{
	width: 100%;
}
.description{

	
	
	display: flex;
	flex-direction: column;
	height: 50vh;
	justify-content: center;
	
}
section div{
	z-index: 10000;
}


.description h1{
	font-family: "Montserrat Black",sans-serif;
	font-size: 4.4rem;
	line-height: 1.5;
}
button{
	margin-top: 4rem;
}
.button button{
	margin-right:.9rem;
	cursor: pointer;
}

.button .btn1,.button .btn2{
	
	font-weight: 400;
	background: #212529;
	text-align: center;
	color:white;
	
	
	border: 1px solid transparent;
	padding: .375rem .675rem;
	font-size: 1.8rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button .btn1:hover{
	background: black;
}
.button .btn2{
	background: transparent;
	border:1px solid white;
}
.button .btn2:hover{
	background: white;
	color:black;
}
.button .btn2:hover i{
	color: black;
}

/*font-family: proxima-nova,Helvetica Neue,Arial,sans-serif!important;
    font-size: 21px;
    line-height: 1.5em;
    color: rgba(0,0,0,0.75);
    font-weight: 400 !important;
    letter-spacing: -.010em;

    line-height: 1.6;
    font-family: Arial,x-locale-body,sans-serif;
    letter-spacing: -.00278rem;
    font-size: 18px;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    */
    .about{
    	
    	background: rgba(238, 238, 238, .5);
    	margin: -8rem 0;
    	padding:20rem;
    }
    .container{
    	height: 100%;
    }
    .about-heading{
    	
    	text-align: center;

    }
    .about-heading h1{
    	position: relative;
    	display: inline-block;
    	font-size: 4.5rem;
    	font-family: "Roboto Mono",monospace;
    	/*background: linear-gradient(118deg,rgba(0, 73, 183, 1),rgba(0, 73, 183, .8));
    	*/font-weight: 400;
    	color:#212529;
    }
    .about-heading h1::after{
    	content:'';

    	position: absolute;
    	left:0;
    	bottom: 0;
    	background: #F64C72;
    	width:0%;
    	transition: all 350ms cubic-bezier(.75,-0.5,0,1.75);
    	height: 3px;

    }

    .about-heading h1:hover::after{
    	width: 100%;
    }
    .about-container{
    	display: flex;
    	justify-content: center;
    	margin-top: 5rem;
    	height: 100%;
    }
    .image{
    	width:60%;
    	height:75%;
    	background:url(laptop.jpg);
    	background-position: center;
    	background-size: cover;
    	position: relative;
    	overflow: hidden;
    	box-shadow: 1rem 1rem 4rem rgba(0,0,0,0.7);
    	border-radius: 2px;
    	transition:all 250ms ease-in-out;
    	animation: imageAnimation 20s cubic-bezier(.75,-0.5,0,1.75) infinite;
    }
    .photo{
    	
    	width:100%;
    	
    }
    .paragraph{
    	display: flex;
    	flex:0 0 40%;
    	justify-content: center;
    	align-items: center;
    	
    }

    .image-container{
    	display: flex;
    	flex:0 0 60%;
    	justify-content: center;
    	align-items: center;


    }

    .image:hover{
    	outline-offset: 2rem;
    	outline: 1rem solid rgba(0, 73, 183, .9);
    	transform: scale(1.05);
    }
    @keyframes imageAnimation{
    	25%{
    		background:url(business.jpg);
    		background-position: center;
    		background-size: cover;
    	}
    	50%{
    		background:url(connect.jpg);
    		background-position:center;
    		background-size: cover;
    		transform:scale(1,1);
    	}
    	55%{
    		background:url(connect.jpg);
    		background-position: center;
    		background-size: cover;
    		transform: scale(1.02,1.02)
    	}
    	65%{

    		background:url(connect.jpg);
    		background-position: center;
    		background-size: cover;
    		transform: scale(1,1)
    	}

    	100%{
    		background:url(laptop.jpg);
    		background-position: center;
    		background-size: cover;
    	}
    }

    .header {
    	position: fixed;
    	top: 0;
    	z-index: 1;
    	width: 100%;
    	background-color: #f1f1f1;
    }

    
    .progress-container {
    	width: 100%;
    	height: 8px;
    	background: #fff;
    }

    
    .progress-bar {
    	height: 8px;
    	background: #ff4c68;
    	width: 0%;
    }
    .paragraph p{
    	line-height: 1.9;
    	font-size: 1.7rem;
    	font-family:"Open Sans",sans-serif;
    	color:rgba(0,0,0,0.89);
    }
    .download-link p{
		font-family: "Open Sans",monospace;
		font-size: 2rem;
	}