body {
     background: url("../images/bg.jpg") no-repeat center center fixed;
     background-size: cover;
}
h2 {
     text-align: center;
}
 .container {
     color: white;
     font-size: 20px;
     text-align: center;
     font-family: Helvetica, Arial, sans-serif;
     text-shadow: 1px 1px 1px #666;
     font-weight: bold;
}
 
.charImg {
     width: 200px;
}

.character {
     display: inline-block;
     padding-left: 20px;
}

.enemyFace {
     -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}