
*{
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
}
body{
    overflow: hidden;
}

/*Header*/
.nav-head ul{
    display: flex;
    font-size: 13px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    /*margin-right: 200px;*/
    margin-right: 200px;
}


.nav-head .top{
    text-decoration: none;
    color:rgba(0,0,0,0.87);
    margin-right: 5px;
    padding: 12px;
}
.nav-head .top:hover{
    text-decoration: underline;
    opacity: .75;
}

.nav-head #connexion{
    text-decoration: none;
    color: #fff;
    padding: 12px;
    background: #4683ea;
    border: 1px solid #4285f4;
    border-radius: 2px;
    width: 50px;
    height: 20px;
    padding: 10px;
    flex-basis: auto; 
    margin-right: 75px;
}

.nav-head img {
    width: 20px;
    height: 20px;
    padding: 12px;
    align-self: flex-start;
    margin-right: 12px;
    opacity: .55;
}

.nav-head img:hover{
    opacity: 1;
}

/*Main page*/
section{
    display: flex;
    align-items: center;
    
    flex-direction: column;
    height: 351px;
}

section .logo{
    padding-bottom:20px;
    width: 272px;
    height: 92;
    padding-top: 90px;
}

section .search-bar{
    display: flex;
    align-items: center;
    padding: 5px 8px 0 16px;
    width: 582px;
    height: 44px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

section .search-bar:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.search-bar i{
    width: 25px;
    height: 25px;
    opacity: .40;
    margin-top: 5px;
}

.search-bar input{
    width: 527px;
    height: 34px;
    border: none;
}

section .btn1{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    cursor: pointer;
}
section .btn1:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}
section .btn2{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    cursor: pointer;
}
section .btn2:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

section .disp{
    display: inline-block;
    line-height: 28px;
    font-size: 13px;
    margin-top: 12px;
}

/*Footer*/
footer {
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    font-size: 15px;
    color: rgba(0,0,0,.54);
    text-decoration: none;
    margin-top: 110px;
    width:100%;
    
}
footer .country{
   
    border-bottom: 1px solid #e4e4e4;
    margin-left: 40px;
    margin-top: 10px;
    padding-bottom: 10px;
}

footer .nav-footer a{
    text-decoration: none;
    color: rgba(0,0,0,.54);
}
footer .nav-footer a:hover{
    text-decoration: underline;
}
footer .nav-footer{
    display: flex;
    width: 100%;
    align-items: flex-start;
}
footer .nav1{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    text-align: left;
    
}
footer .nav1 li{
    padding-right: 20px;
    margin-left: 0;
}

footer .nav2{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

footer .nav2 li{
    padding-right: 20px;
}








