
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&display=swap');

body {
    font-family: 'Arimo', sans-serif;
  background: #e1eec3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f05053, #e1eec3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f05053, #e1eec3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
  
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .app{
    height:100vh;display:flex;
    align-items:center;justify-content:center;
  }
  
  .container {
      width:70%;
      justify-content: center;
      align-items: center;
  }
  
  h1 {
      background-color: rgb(153, 6, 36);
      padding: 20px 10px ;width: 70%;
      text-align:center;color:white;
  }
  
  input {
      padding: 15px ;
      width: 70%;
      font-size: 20px;
      border: 2px solid rgb(153, 6, 36);
  }
  
  .fa-plus, .fa-trash {
      float: right;
      padding:0px 6px 10px 10px;
  }
  
  li {
      background:#f7f7f7;
      list-style: none;
      padding: 15px;
      width: 70%; 
      font-size: 18px;
  }
