@import url('https://fonts.googleapis.com/css?family=Satisfy');
 .frame {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 width: 400px;
	 height: 400px;
	 margin-top: -200px;
	 margin-left: -200px;
	 border-radius: 2px;
	 box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
	 background: #833ab4;
	/* fallback for old browsers */
	 background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
	/* Chrome 10-25, Safari 5.1-6 */
	 background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	 color: #6a1b9a;
	 font-family: 'Satisfy', cursive;
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
}
 .center {
	 position: absolute;
	 top: 50px;
	 left: 40px;
	 height: 299px;
	 width: 320px;
	 background: #fff;
	 border-radius: 3px;
	 overflow: hidden;
	 box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
}
 .profile {
	 float: left;
	 width: 200px;
	 height: 320px;
	 text-align: center;
}
 .profile .image {
	 position: relative;
	 width: 70px;
	 height: 70px;
	 margin: 38px auto 0 auto;
}
 .profile .image .circle-1, .profile .image .circle-2 {
	 position: absolute;
	 box-sizing: border-box;
	 width: 76px;
	 height: 76px;
	 top: -3px;
	 left: -3px;
	 border-width: 1px;
	 border-style: solid;
	 border-color: #6a1b9a #6a1b9a #6a1b9a transparent;
	 border-radius: 50%;
	 transition: all 1.5s ease-in-out;
}
 .profile .image .circle-2 {
	 width: 82px;
	 height: 82px;
	 top: -6px;
	 left: -6px;
	 border-color: #6a1b9a transparent #6a1b9a #6a1b9a;
}
 .profile .image img {
	 display: block;
	 border-radius: 50%;
	 background: #f5e8df;
}
 .profile .image:hover {
	 cursor: pointer;
}
 .profile .image:hover .circle-1, .profile .image:hover .image .circle-2, .profile .image .image:hover .circle-2 {
	 transform: rotate(360deg);
}
 .profile .image:hover .circle-2 {
	 transform: rotate(-360deg);
}
 .profile .name {
	 font-size: 20px;
	 font-weight: 600;
	 margin-top: 20px;
}
 .profile .job {
	 font-size: 15px;
	 line-height: 15px;
}
 .profile .actions {
	 margin-top: 33px;
}
 .profile .actions .btn {
	 display: block;
	 width: 120px;
	 height: 30px;
	 margin: 0 auto 10px auto;
	 background: none;
	 border: 1px solid #6a1b9a;
	 border-radius: 15px;
	 font-size: 18px;
	 font-family: 'Satisfy', cursive;
	 font-weight: 600;
	 box-sizing: border-box;
	 transition: all 0.3s ease-in-out;
	 color: #6a1b9a;
}
 .profile .actions .btn:hover {
	 background: #6a1b9a;
	 color: #fff;
}
 .stats {
	 float: left;
}
 .stats .box {
	 box-sizing: border-box;
	 width: 120px;
	 height: 99px;
	 background: #f5e8df;
	 text-align: center;
	 padding-top: 28px;
	 transition: all 0.4s ease-in-out;
}
 .stats .box:hover {
	 background: #f8bbd0;
	 cursor: pointer;
}
 .stats .box:nth-child(2) {
	 margin: 1px 0;
}
 .stats span {
	 display: block;
}
 .stats .value {
	 font-size: 18px;
	 font-weight: 600;
}
 .stats .parameter {
	 font-size: 20px;
}
 