.grid {
	width: 606px;
	height: 606px;
	display: flex;
	flex-wrap: wrap;
}

.square {
	height: 200px;
	width: 200px;
	border: solid black 1px;
}

.mole {
	background-image: url("mole.jpg");
	background-size: cover;
}