html{
  font-family: calibri;
}
#section{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 55%;
  height: 550px;
  background-color: white;
  border-radius: 3px;
}
body
{
  background-color: #bcbcbc;

}
#formx{
  position: absolute;
  margin: auto;
  left: 30px;

}
form{
  font-weight: bold;
}
sup{

  color: red;
}
.tombol{
  background-color: #d66300;
  width: 100px;
  height: 30px;
  border: 1px solid white;
  color : white;
}
input[type=text],textarea{
  width :100%;
}
#hasil{
  float: right;
  margin-right: 30%;
  margin-top: 20%;
}
#footer{

  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;

    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  background-color: #0b4654;
}
